@import '~angular-shared-scss/src/index';

// $HeaderTitle-padding: 1rem;
// $HeaderTitle-img-width: 3rem;

@import '../../src/index';

body {
    font-family: sans-serif;
    color: $cape-cod-1;
    fill: $cape-cod-1;
    background-color: $haze-3;
    margin: 0;
}

.Wrapper {
    display: flex;
}

.DevelopmentNav {
    margin: 1rem;
}

.Main {
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}

a {
    color: $astral-1;
}

.active {
    color: $mantis;
}